{% load static %}

<!DOCTYPE html>
<html>
<head>

<style>
h1 {
  text-align: center;
}

p {
  color: black;
  text-align: center;
  margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

</style>

  <title>yo</title>
</head>
<body style="background-color: grey">

<h1> Book an appointment </h1>

<p style="font-family: 'Courier New'"> City Square </p>
<p> <strong> We are working on resolving a temporary issue with our online booking system. If you experience the issue, apologies, please call us and we will get you squared away with an appointment. </strong> </p>
<h3>Contacts:</h3>
  </li>
  <h4 style="padding: 25px">
  <li> <a href="tel:+607-2221318 ">+607-2221318</a>  </li>
  <li> <a href="tel:+6017-7050269 ">+6017-7050269</a> </li>
</h4>
</ul>


<hr>

<h1 style="color: red;"> REDS </h1>

<div class= "container-fluid">
      <img src=" {% static 'info/images/redss3.PNG' %} " alt="First slide" style="width:800px;height:600px;margin-left:60px;">
      <img src=" {% static 'info/images/redss2.PNG' %} " alt="First slide" style="width:800px;height:600px;margin-left:20px;">
  </div>

  <h1> *OUR CANCELLATION POLICY </h1>
  <p> When you book your appointment, we will ask for your credit card information in order to put a hold on your appointment. Less than 24 hour notice will result in a charge equal to 50% of the reserved service amount and “No Shows” will be a 100% charge.

Our cancellation policy allows us time to inform our standby guests of any availability, as well as keeping our stylists scheduled filled, thus better serving everyone. </p>

</body>
</html>