{% load static %}

<!DOCTYPE html>
<html>
<head>

<style> 
h1 {
	color: red;
	text-align: center;
}	

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	color: black;
	text-align: center;
	margin-top: 100px;
  	margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
</style>

	<title>yo</title>
</head>
<body style="background-color: grey">

<h1> WELCOME BACK! </h1>
<p> Below are some of our new standards to keep you (and our service providers) safe during this current phase of reopening.<br>
 We love you - We appreciate you - Please do your part to keep a;; of us safe. If you ahve any questions at all - please don't hestitate to ask a member of our team.</p> 

 <img src="{% static 'info/images/coviddd.PNG' %}" style="width:528px;height:628px;display:block;margin: 0 auto;"> 

 <h2> DURING YOUR SERVICE </h2>
 <h3> SAFETY FIRST </h3>

 <p> <strong>DURING YOUR SERVICE:</strong>  The number of guests on premises will be limited to 50% of normal capacity.  We have also added Plexiglas barriers between stations and in between shampoo bowls to allow for additional privacy and security.  Stations have been spaced at least 6 feet apart on our floor.  Processing areas for guests have been spaced 6 or more feet apart.  You will be required to sit in these marked areas while your hair color processes. 

Employees and guests will wear protective facemasks and faceshields.    We ask that you bring your own mask with you.  Disposable masks will be available as supplies permit as PPE supply levels have been unpredictable.  NO GUESTS WITHOUT MASKS WILL BE RECEIVED FOR SERVICES.  All equipment used by a service provider will be sanitized between guests - this is not anything new for our salon company.  We will be using UV light tools along with liquid disinfectants to make sure that all tools being used on your are fully sanitized. Clean/sanitized capes and client gowns for each guest.  Again, this is not new for us, but we are confirming our commitment to fresh capes and gowns for every single one of our guests.  </p>



</body>
</html>